/* My Custom Code Start */

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#formSubmitBtn, #formResetBtn {
  background-color: #F57E1F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#formSubmitBtn:hover, #formResetBtn:hover {
  background-color: #F57E1F;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



.success {
	display: none;
}
.show {
	display: block;
}

h1 {
	color: black;
}

/* My Custom code End */


#crmWebToEntityForm.zcwf_lblLeft {
    width: 100% !important;
    padding: 25px !important;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial !important;
}

#crmWebToEntityForm.zcwf_lblLeft * {
    box-sizing: border-box;
}

#crmWebToEntityForm {
    text-align: left;
}

#crmWebToEntityForm * {
    direction: ltr;
}

.zcwf_lblLeft .zcwf_title {
    word-wrap: break-word;
    padding: 0px 6px 1px;
    font-weight: bold;
    font-size: 21px;
    color: #f57e1f !important;
}

.zcwf_lblLeft input[type=text]
{
	/*.zcwf_lblLeft textarea */
    /*width: 100% !important;
    border: 0px solid #f4f4f4 !important;
    resize: horizontal;
    border-radius: 20px;
    float: left;
    background-color: #f4f4f4 !important;
    font-family: Arial !important;*/
}

.zcwf_coll_fld input[type=text] {
	
	/*,.zcwf_coll_fld textarea*/
   /* width: 100% !important;
    height: 20%;
    border: 0px solid #f4f4f4 !important;
    resize: horizontal;
    border-radius: 10px;
    float: left;
    background-color: #f4f4f4 !important;
    font-family: Arial !important;*/
}



.zcwf_lblLeft .zcwf_col_lab {
    width: 95%;
    word-break: break-word;
    padding: 0px 6px 0px;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
    min-height: 1px;
}

.zcwf_lblLeft .zcwf_col_fld {
    float: left;
    width: 98%;
    padding: 0px 0px;
    position: relative;
    margin-top: 0px !important;
}

.zcwf_col_help {
    display: none !important;
}

.zcwf_lblLeft .zcwf_privacy {
    padding: 6px;
}

.zcwf_lblLeft .wfrm_fld_dpNn {
    display: none;
}

.dIB {
    display: inline-block;
}

/*.zcwf_lblLeft .zcwf_col_fld_slt {
    width: 100% !important;
    border: 1px solid #f4f4f4 !important;
    background: #f4f4f4 !important;
    border-radius: 50px !important;
    font-size: 14px;
    float: left;
    resize: vertical;
    padding: 7px 15px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}*/

.zcwf_lblLeft .zcwf_row:after,
.zcwf_lblLeft .zcwf_col_fld:after {
    content: '';
    display: table;
    clear: both;
}

.zcwf_lblLeft .zcwf_col_help {
    float: left;
    margin-left: 7px;
    font-size: 14px;
    max-width: 35%;
    word-break: break-word;
}

.zcwf_lblLeft .zcwf_help_icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: #fff;
    border: 1px solid #c0c6cc;
    color: #c1c1c1;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    border-radius: 50%;
}

.zcwf_lblLeft .zcwf_row {
    margin: 0px !important;
}

.zcwf_lblLeft .formsubmit {
    margin-right: 20px;
    cursor: pointer;
    color: var(--baseColor);
    font-size: 14px !important;
}

.zcwf_lblLeft .zcwf_privacy_txt {
    width: 90%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Arial;
    display: inline-block;
    vertical-align: top;
    color: var(--baseColor);
    padding-top: 2px;
    margin-left: 6px;
}

/*.zcwf_lblLeft .zcwf_button {
    font-size: 14px;
    color: var(--baseColor);
    border: 1px solid #c0c6cc;
    padding: 0px 20px !important;
    border-radius: 1px;
    cursor: pointer;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #f57e1f !important;
    color: #fff !important;
    text-transform: capitalize !important;
    font-family: Arial !important;
}*/

.zcwf_lblLeft .zcwf_tooltip_over {
    position: relative;
}

.zcwf_lblLeft .zcwf_tooltip_ctn {
    position: absolute;
    background: #dedede;
    padding: 3px 6px;
    top: 3px;
    border-radius: 4px;
    word-break: break-word;
    min-width: 100px;
    max-width: 150px;
    color: var(--baseColor);
    z-index: 100;
}

.zcwf_lblLeft .zcwf_ckbox {
    float: left;
}

.zcwf_lblLeft .zcwf_file {
    width: 55%;
    box-sizing: border-box;
    float: left;
}

.clearB:after {
    content: '';
    display: block;
    clear: both;
}

@media all and (max-width: 800px) {
    .zcwf_lblLeft .zcwf_col_lab,
    .zcwf_lblLeft .zcwf_col_fld {
        width: auto;
        float: none !important;
    }

    .zcwf_lblLeft .zcwf_col_help {
        width: 10% !important;
    }

    .zcwf_lblLeft .zcwf_col_fld_slt {
        width: 100% !important;
        border: 1px solid #f4f4f4 !important;
        background: #f4f4f4 !important;
        border-radius: 50% !important;
        font-size: 13px;
        float: left;
        resize: vertical;
        padding: 7px 15px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    #crmWebToEntityForm.zcwf_lblLeft * {
        box-sizing: border-box;
        color: #000 !important;
    }

    #crmWebToEntityForm * {
        direction: ltr;
        font-size: 13px !important;
    }
}
